@use "../../scss/config/primitives" as *;
@use "../../scss/config/mixins" as *;

.activityContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;

	.activityDashboard {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		width: 70%;
		padding: 2rem;

		.activityCard {
			display: flex;
			align-items: center;
			width: 100%;
			height: 3rem;
			margin: 1rem;
			color: $white;

			.mergeInfo {
				display: flex;
				align-items: center;
				position: absolute;
				left: 0;
				color: $white;
				opacity: 0.9;
				font-size: 0.7rem;
				letter-spacing: 0.1rem;

				.tils {
					margin: 1rem 0.4rem 0 0;
				}
			}

			.containerLogo {
				min-width: 3rem;
				height: 3rem;
				border-radius: 0.5rem;
				margin: 1rem;

				@include mobileScreen {
					min-width: 2.5rem;
					height: 2.5rem;
				}

				.defaultLogo {
					g {
						polygon {
							fill: $blue-sky-space;
						}
					}
				}

				.otherLogo {
					g {
						path {
							fill: $blue-cerulean;
						}
					}
				}

				.archiLogo {
					g {
						polygon {
							fill: $brand-grey;
						}
					}
				}

				.polygonLogo {
					g {
						polygon {
							fill: $red-warning;
						}
					}
				}

				.starsLogo {
					g {
						path {
							fill: $indicator-warning;
						}
					}
				}

				.triangleDownLogo {
					g {
						path {
							fill: $green-custom;
						}
					}
				}
			}

			.containerInfos {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				width: 100%;
				height: 100%;

				.descCard {
					color: $white;
					font-size: 1rem;
					font-weight: 600;

					@include mobileScreen {
						font-size: 0.8rem;
					}
				}

				.timeActivity {
					color: $white;
					opacity: 0.7;
					font-size: 0.9rem;
					margin: 0.2rem 0 0 0.2rem;

					@include mobilesScreen {
						font-size: 0.8rem;
					}
				}
			}
		}

		.tils {
			display: flex;
			align-self: normal;
			margin: 1rem 0 0 3.3rem;
			height: 2rem;
			width: 0.1rem;
			background-color: $white;
			opacity: 0.5;

			&.horizontal {
				margin-right: 0.4rem;
				transform: translateY(-0.5rem);
				height: 0.05rem;
				width: 0.8rem;
				opacity: 1;
			}
		}
	}
}
