@use "../../scss/config/primitives" as *;

.screenSizeWarning {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.constellation {
		width: 100%;
		position: fixed;
		top: 5rem;
	}

	.text {
		font-size: 1.5rem;
		color: $green-custom;
		margin-bottom: 0.5rem;
	}

	.extendText {
		font-size: 1rem;
		color: $white;
		margin-top: 0.5rem;
	}
}
