@use "../../scss/config/primitives" as *;

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% / 4);
	height: 100%;

	.button {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 0.7rem;
		background-color: transparent;

		&.active {
			cursor: default;
			background-color: $blue-sky-space;
		}

		.buttonText {
			font-size: 0.9rem;
			font-weight: 400;
			color: $white;
			letter-spacing: 0.08rem;
		}
	}
}

