@use "../../scss/config/primitives" as *;
@use "../../scss/config/mixins" as *;
@use "../../scss/config/functions" as *;

.containerPopup {
	cursor: default;
	position: absolute;
	top: 3.4rem;
	left: -1rem;
	background-color: $drak-blue;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.2rem;
	padding: 2rem;
	overflow: hidden;
	border-radius: 0.6rem;
	border: 0.02rem solid $grey-grey;

	@include mobileScreen {
		width: 23rem !important;

		&.large {
			height: calc(100vh - 15rem) !important;
			left: 0;
			overflow-y: scroll;
		}

		&.medium {
			height: 15rem !important;
			left: -7rem;
		}

		&.small {
			height: 15rem !important;
			left: -14rem;
		}
	}

	@include landScapeScreen {
		&.large {
			width: 50rem !important;
			height: calc(100vh - 8rem) !important;
			left: -2rem;
			overflow-y: scroll;
		}

		&.medium {
			width: 15rem !important;
			height: 13rem !important;
		}

		&.small {
			width: 30rem !important;
			height: 15rem !important;
		}
	}

	&.large {
		width: 80rem;
		height: 32rem;
	}

	&.medium {
		width: 30rem;
		height: 18rem;
	}

	&.small {
		width: 35rem;
		height: 15rem;
	}

	.popupContainerContent {
		display: grid;
		grid-template-columns: 1fr 50%;
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem;
		width: 100%;
		height: 100%;

		@include mobileScreen {
			display: flex;
			flex-direction: column;
			padding-bottom: 1rem;
		}

		&.discover {
			grid-template-columns: repeat(3, 1fr);

			.contentLeft {
				grid-column: 1;
				grid-row: 1;
			}

			.contentCenter {
				grid-column: 2;
				grid-row: 1;
			}

			.contentRight {
				grid-column: 3;
				grid-row: 1;
			}
		}

		&.shared {
			grid-template-columns: 1fr;
		}

		.contentLeft {
			grid-column: 1;
			grid-row: 1;

			.containerAction {
				display: flex;
				justify-content: space-between;

				@include mobileScreen {
					flex-direction: column;
					gap: 0.8rem;
				}

				.goToContact,
				.followMe {
					cursor: pointer;
					display: flex;
					align-items: center;
					font-size: 0.7rem;
					font-weight: 500;
					color: $white;
					letter-spacing: 0.05rem;
					width: max-content;

					.arrow2 {
						transition: transform 0.3s ease-in-out;
					}

					.heart {
						transition: transform 0.2s ease-in-out;
					}

					&:hover {
						.arrow2 {
							transform: translateX(0.5rem);
						}
					}

					&:hover {
						.heart {
							transform: scale(1.2);

							path {
								stroke: $red-warning;
							}
						}
					}

					svg {
						width: 1rem;
						height: 1rem;
						margin-left: 0.5rem;

						&.heart {
							width: 1.2rem;
							height: 1.2rem;

							path {
								fill: $red-warning;
							}
						}

						path {
							fill: $white;
						}
					}
				}

				.followMe {
					margin-right: 4rem;
				}
			}
		}

		.contentRight {
			grid-column: 2;
			grid-row: 1;

			.containerDM,
			.containerCustom {
				display: flex;
				align-items: center;
				margin: 1.5rem 0 0 1rem;

				span {
					margin-right: 0.5rem;
					color: $white;
				}

				.ant-switch {
					width: 2.3rem;
					min-width: 2.3rem;
					height: 1.2rem;

					.ant-switch-handle {
						width: convertToREM(15);
						height: convertToREM(15);

						&::before {
							background-color: $white-opacity;
						}
					}
				}
			}

			.containerLanguage {
				margin: 1.5rem 0 0 1rem;

				.ant-select-selector {
					background-color: $drak-blue;
					color: $white;
					border: convertToREM(1) solid $blue-sky-space;
				}

				.ant-select-arrow {
					color: $white;
				}
			}
		}

		.title {
			font-size: 1rem;
			color: $grey-light;
			letter-spacing: 0.05rem;
			margin-bottom: 3rem;

			&.discover {
				margin-bottom: 1rem;
			}
		}

		.text,
		p {
			line-height: 1.1rem;
			font-family: Arial, sans-serif;
			font-size: 0.9rem;
			font-weight: lighter;
			color: $white;
			opacity: 0.7;
			letter-spacing: 0.05rem;
		}

		ul {
			margin-left: -2.5rem;

			&.shared {
				display: flex;
				justify-content: space-between;
			}

			li {
				display: flex;
				align-items: center;
				margin: 0.5rem 0 1.5rem 0;

				&.discover {
					cursor: pointer;
					margin: 0;

					&.active {
						cursor: default;
					}
				}

				.iconUseCase {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 3.5rem;
					min-height: 3.5rem;
					border-radius: 50%;
					background-color: $blue-lagoon;
					margin: 0 0.8rem 0.8rem 0;

					&.discover {
						background-color: transparent;
						border-radius: none;
						margin: 0;
					}

					svg {
						width: 2rem;
						height: 2rem;

						&.star {
							width: 1.5rem;
							height: 1.5rem;
						}

						path {
							fill: $white;
						}

						&.rocket,
						&.activity,
						&.star {
							opacity: 0.7;
						}
					}
				}

				.containerText {
					display: flex;
					flex-direction: column;
					margin-top: -1rem;

					&.discover {
						margin-top: 0;
					}

					.textUp {
						font-size: 1rem;
						font-weight: 500;
						color: $white;
						letter-spacing: 0.05rem;
						margin-bottom: 0.5rem;

						&.active {
							opacity: 0.5;
						}
					}

					.textDown {
						font-size: 0.8rem;
						font-weight: 400;
						color: $white;
						opacity: 0.7;
						letter-spacing: 0.05rem;
					}
				}

				.containerIcon {
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 3.5rem;
					min-height: 3.5rem;
					border-radius: 0.5rem;
					background-color: $blue-lagoon;
					margin: -1.5rem 0.5rem 0.5rem 0;
					opacity: 0.7;

					&:hover {
						opacity: 1;
					}

					svg {
						width: 2rem;
						height: 2rem;

						path {
							fill: $white;
						}
					}
				}
			}
		}
	}
}

