@use "../../scss/config/primitives" as *;

.containerTitle {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;

	.title {
		font-size: 6rem;
		font-weight: 600;
		color: $green-custom;
	}

	.subtitle {
		font-size: 5rem;
		font-weight: 500;
		color: $grey-snow;
	}

	.desc {
		width: 90%;
		font-size: 1.5rem;
		font-weight: 400;
		color: $grey-light;
	}
}

