@use "../../scss/config/primitives" as *;

.containerContact {
	margin: 2rem 0;
	padding: 0 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.containerText {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;

		.textFirst {
			text-align: center;
			font-size: 2.2rem;
			font-weight: 400;
			color: $white;
		}

		.textSecond {
			font-size: 1rem;
			font-weight: 400;
			color: $grey-light;

			.highlight {
				color: $green-custom;
			}
		}
	}
}

