@use "../../scss/config/primitives" as *;
@use "../../scss/config/functions" as *;

.cardContainer {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 22rem;
	height: 13rem;
	border-radius: 0.5rem;
	border: 0.02rem solid $grey-grey;
	background-color: $blue-sky-space-light-opacity;
	padding: 1rem;
	margin: 1rem;

	color: white;

	&:hover {
		background-color: $blue-sky-space-light;
	}

	.card-body {
		padding: convertToREM(10);

		.top-card {
			display: flex;

			.card-logo {
				width: 5rem;
				height: 5rem;
				border-radius: 0.5rem;
				background-color: $grey-grey;
				margin-right: 1rem;
			}

			.topCardContainer {
				flex-direction: column;

				.card-title {
					white-space: nowrap;
					width: 10rem;
					font-size: 1.5rem;
				}

				.icon {
					margin: 0.5rem 0 0 -0.5rem;
					width: 2.5rem;
					height: 2.5rem;
					display: flex;
					align-items: center;

					.fork-count {
						font-size: 1.3rem;
						font-weight: 600;
						color: $white;
					}
				}
			}
		}

		.card-text {
			font-size: 1rem;
		}
	}
}

