.layout {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.side-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease-in-out;

	&:nth-child(2) {
		transform: translateX(100%);
	}
}

.show-right-side {
	.side-container {
		&:nth-child(1) {
			transform: translateX(-100%);
		}
		&:nth-child(2) {
			transform: translateX(0);
		}
	}
}

