@use "../../scss/config/primitives" as *;
@use "../../scss/config/functions" as *;
@use "../../scss/config/mixins" as *;

.rightPart {
	position: absolute;
	top: 0;
	left: 55%;
	width: 45%;
	height: 100%;
	background-color: $bg-black;
	overflow-y: auto;

	.top {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 1.5rem;

		.buttonContainer {
			display: flex;
			align-items: center;
			width: 80%;
			height: 2.5rem;
			padding: 0.2rem;
			background-color: $black-smouth;
			border-radius: 0.7rem;
		}
	}

	.measureContainer {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 55%;
		width: convertToREM(1);
		height: 100vh;
		background-color: $blue-sky-space;
		opacity: 0.5;

		.linesWrapper {
			overflow-y: auto;
			position: absolute;
			left: convertToREM(-10);

			.line {
				margin: 0.6rem 0;
				width: convertToREM(10);
				height: convertToREM(1);
				background-color: $white;
				opacity: 0.2;
			}
		}
	}
}

@include mobilesScreen {
	.rightPart {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;

		.top {
			.buttonContainer {
				width: 93%;
			}
		}

		.measureContainer {
			left: 0;

			.linesWrapper {
				left: convertToREM(2);
			}
		}
	}
}

@include landScapeScreen {
	.rightPart {
		left: 0;
		width: 100%;
		height: 100%;

		.measureContainer {
			left: 0;

			.linesWrapper {
				left: convertToREM(2);
			}
		}
	}
}

