$white: rgb(255, 255, 255);
$brand-white: rgb(227, 227, 227);
$white-opacity: rgb(245, 245, 245);
$vanta-black: rgb(0, 0, 0);
$brand-black: rgb(24, 26, 58);
$bg-black: rgb(4, 2, 23);
$black-smouth: rgb(29, 30, 58);
$smoth-white: rgb(243, 243, 243);
$brand-blue: rgb(105, 137, 189);
$blue-cerulean: rgb(45, 119, 159);
$grey-light: rgb(154, 153, 153);
$grey-grey: rgb(92, 92, 92);
$grey-steam: rgb(250 250 254);
$brand-grey: rgb(209, 209, 209);
$grey-snow: rgb(246 247 254);
$red-warning: rgb(228, 48, 48);
$indicator-warning: rgb(252, 205, 48);
$green-custom: rgb(110, 231, 183);
$drak-blue: rgb(17, 8, 46);
$blue-lagoon: rgb(36 38 92);
$blue-sky-space: rgb(80, 70, 229);
$blue-sky-space-opacity: rgb(80, 70, 229, 0.7);
$blue-sky-space-light: rgb(14, 12, 32);
$blue-sky-space-light-opacity: rgb(14, 12, 32, 0.5);

