@keyframes animationShine {
	to {
		background-position-x: -200%;
	}
}

@keyframes reveal-border {
	0% {
		clip-path: inset(0 0 0 100%);
	}
	100% {
		clip-path: inset(0);
	}
}

@keyframes snake-border-1 {
	0% {
		transform: translateX(-100%);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 1;
	}
}

@keyframes snake-border-2 {
	0% {
		transform: translateY(-100%);
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
		opacity: 1;
	}
}

@keyframes snake-border-3 {
	0% {
		transform: translateX(100%);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 1;
	}
}

@keyframes snake-border-4 {
	0% {
		transform: translateY(100%);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 1;
	}
}

